<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <title>Add</title>

   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script type="text/javascript">
      $(function () {
         var fieldNum = 1;
         $("#addNewField").click(function () {
            var current = $("#indicators");

            $("#indicators").append(createParameter(fieldNum));
            fieldNum += 1;
         });
      });

      function createParameter(count) {
         var toAppend = `
         <li>
            <label for="indicators-${count}">Indicators-${count}</label> 
            <table id="indicators-${count}">
            <tr>
               <th><label for="indicators-${count}-type">Parameter Type</label></th>
               <td>
                  <select id="indicators-${count}-type" name="indicators-${count}-type" required>
                  <option value="cross">CROSS</option>
                  <option value="val">VALUE</option>
                  </select>
               </td>
            </tr>
            <tr>
               <th><label for="indicators-${count}-name">Indicator</label></th>
               <td>
                  <select id="indicators-${count}-name" name="indicators-${count}-name" required>
                  <option value="rsi">RSI</option>
                  <option value="sma">SMA</option>
                  <option value="ema">EMA</option>
                  </select>
               </td>
            </tr>
            <tr>
               <th><label for="indicators-${count}-value">Value</label></th>
               <td><input id="indicators-${count}-value" name="indicators-${count}-value" required type="text" value=""></td>
            </tr>
            </table>
            <input id="indicators-${count}-csrf_token" name="indicators-${count}-csrf_token" type="hidden" value="IjlmMDYxMmYzYzk2NmI0MmQ3ZGZmNDE0ZGRkYjgzMzMxZmM4Y2E5MjYi.Xgx1pg.6kw0qUWtHEd3517o5yqCGV36D-4">
         </li>`;
         console.log("" + toAppend);
         return toAppend;
      }

   </script>
</head>

<body>
   <h1>Enter the following details</h1>

   <form action="{{ url_for('add') }}" method="post" novalidate>
      {{ form.hidden_tag() }}
      <p>
         {{ form.stock_name.label }}
         {{ form.stock_name(size=64) }}
         <br>
         {% for error in form.stock_name.errors %}
            <span style="color: red;">[{{ error }}]</span>
         {% endfor %}
      </p>

      <button type="button" id="addNewField">Add Field</button>

      <p>
         {{ form.indicators }}
         {% for error in form.indicators.errors %}
            <span style="color: red;">[{{ error }}]</span>
         <br>
         {% endfor %}
      </p>
      <div id="myDiv"></div>

      <p>{{ form.submit() }}</p>
   </form>

</body>

</html>