{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}
    {{ title }} - Trade Monitor
    {% else %}
    Welcome to Trade Monitor
    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(function () {
         var fieldNum = 1;
         $("#addNewField").click(function () {
            var current = $("#indicators");

            $("#indicators").append(createParameter(fieldNum));
            fieldNum += 1;
         });
      });

      function createParameter(count) {
         var toAppend = `
         <li>
            <label for="indicators-${count}">Indicators-${count}</label>
            <table id="indicators-${count}">
                <tr>
                    <th>
                        <label for="indicators-${count}-type">Parameter Type</label>
                    </th>
                    <td>
                        <select id="indicators-${count}-type" name="indicators-${count}-type" required>
                            <option value="cross">CROSS</option>
                            <option value="val">VALUE</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="indicators-${count}-period">Period</label>
                    </th>
                    <td>
                        <select id="indicators-${count}-period" name="indicators-${count}-period" required>
                            <option value="DAILY">DAILY</option>
                            <option value="WEEKLY">WEEKLY</option>
                            <option value="MONTHLY">MONTHLY</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="indicators-${count}-name">Indicator</label>
                    </th>
                    <td>
                        <select id="indicators-${count}-name" name="indicators-${count}-name" required>
                            <option value="SMA">SMA</option>
                            <option value="EMA">EMA</option>
                            <option value="RSI">RSI</option>
                            <option value="OTHER">OTHER</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="indicators-${count}-other_name">Other Indicator(optional)</label>
                    </th>
                    <td>
                        <input id="indicators-${count}-other_name" name="indicators-${count}-other_name" required type="text" value="">
                    </td>
                </tr>
                <tr>
                    <th>
                        <label for="indicators-${count}-value">Value</label>
                    </th>
                    <td>
                        <input id="indicators-${count}-value" name="indicators-${count}-value" required type="text" value="">
                    </td>
                </tr>
            </table>
            <input id="indicators-${count}-csrf_token" name="indicators-${count}-csrf_token" type="hidden" value="IjZmY2RhMzBjOGFkNDg2M2FlZTllOTY4OTNhZGYxMGFlMjNhNmRiMjIi.Xg0Tfw.rMFB5V_YZYQLXyicLy3f39pL9Ps">
         </li>`;
         console.log("" + toAppend);
         return toAppend;
      }

    </script>

    {{ super() }}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Trade Monitor</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('add') }}">Add Stock Entry</a></li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}
    </div>
{% endblock %}
